* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: salmon;
}
section {
    width: 80%;
    min-width: 320px;
    max-width: 500px;
    min-height: 500px;
    height: 80%;
    margin: 0 auto;
    background-color: royalblue;
}